<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>تسجيل الحضور</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-card-title>قائمة الأشخاص</ion-card-title>
    </ion-list-header>
    <ion-item *ngFor="let user of users">
      <ion-avatar slot="start">
        <ion-icon name="person-circle" style="font-size: 2em;"></ion-icon>
      </ion-avatar>
      <ion-label>{{ user.name }} {{user.latest_attendance ? '- ' + user.latest_attendance.attendance_date : ''}}</ion-label>
      <ion-button slot="end" fill="clear" (click)="confirmAction(user)">
        <ion-icon name="finger-print" color="user.latest_attendance ? 'success' : 'default'"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
